<a href="https://colab.research.google.com/github/DanielEAristizabalQ/Daniel_ejercicios_py/blob/main/funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def saludar(nombre):
  print(f"hola, {nombre}")

saludar("batman")
saludar("superman")
saludar("dr manhatan")

hola, batman
hola, superman
hola, dr manhatan

In [5]:
def saludar (nombre="invitado"):
   print(f"hola, {nombre}")
saludar("brayayin")
saludar()

hola, brayayin
hola, invitado

In [6]:
def sumar(*numeros):
  return sum(numeros)
sumar (1,2,3,4,5,6,7,8,9,10)

55

In [7]:
def mostrar_info(**datos):
  for clave, valor in datos.items():
    print(f"{clave}:{valor}")
mostrar_info(teclado="Genios", monitor= "Acer")

teclado:Genios
monitor:Acer

In [8]:
def cuadrado (x):
  return x*x
resultado= cuadrado(5)
print(resultado)

25

In [10]:
def saludar (nombre):
  return f"hola, {nombre}"
print (saludar("isabel"))

hola, isabel

In [12]:
def area_triangulo (base, altura):
  return (base*altura)/2
print(area_triangulo(5,10))

25.0

In [20]:
def es_par(numero):
  return numero %2==0
  print(es_par(2))
  print(es_par(3))

In [25]:
def suma_pares(*numeros):
    return sum(num for num in numeros if num % 2 == 0)

print(suma_pares(1, 2, 3, 4, 5, 6))

12

In [26]:
print("tus datos")
nombre = input("ingresa tu nombre: ")
edad = input("ingresa tu edad: ")
print(f"hola, {nombre} tu edad es {edad} a単os")

tus datos
ingresa tu nombre: daniel
ingresa tu edad: 25
hola, daniel tu edad es 25 a単os

In [32]:
def datos (nombre, edad):
  return f"hola, {nombre} tu edad es {edad} a単os"
print(datos(input("tu nombre"), int(input())))

tu nombres
34
hola, s tu edad es 34 a単os

In [41]:
print("tu calculadora")
def sumar(a,b):
  return a + b
def restar(a,b):
  return a - b
def multiplicar(a,b):
  return a * b
def dividir(a,b):
  if b == 0:
        return "Error: No se puede dividir por cero"
  else:
        return a / b
num1 = float(input("ingresa el primer numero: "))
num2 = float(input("ingresa el segundo numero: "))

print ("1. sumar( num1, num2)")
print ("2. restar( num1, num2)")
print ("3. multiplicar( num1, num2)")
print ("4. dividir( num1, num2)")

tu calculadora
ingresa el primer numero: 2
ingresa el segundo numero: 3
1. sumar( num1, num2)
2. restar( num1, num2)
3. multiplicar( num1, num2)
4. dividir( num1, num2)