<a href="https://colab.research.google.com/github/DanielEAristizabalQ/Daniel_ejercicios_py/blob/main/LISTAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#lista de frutas
#entrada
frutas = ["manzana", "pera", "banana"]
#proceso
print (frutas)

['manzana', 'pera', 'banana']

In [5]:
#lista bidimensional
matriz = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
#proceso
print (matriz)
print (matriz[1][2])
print (matriz[2][2])
print (matriz[0][0],

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6
9

In [6]:
apellidos= ["aristizabal", "casta単eda", "rodriguez","perdomo", " montealegre", "charrdomo", "carrillo", "ronaldo", "charry", "calderon", "pinzon", "vidales", "quintana", "due単as", "padilla", "chavez"]
print (f"estudiantes son {apellidos}")

estudiantes son ['aristizabal', 'casta単eda', 'rodriguez', 'perdomo', ' montealegre', 'charrdomo', 'carrillo', 'ronaldo', 'charry', 'calderon', 'pinzon', 'vidales', 'quintana', 'due単as', 'padilla', 'chavez']

In [8]:
#entrada
calificaciones = [["ana", 85, 90], ["luis", 78, 82], ["carlos", 92, 82], ["miguel", 92, 88]]
print ("calificaciones")
for fila in calificaciones:
  print (fila)

calificaciones
['ana', 85, 90]
['luis', 78, 82]
['carlos', 92, 82]
[]

In [ ]:
#entrada
comidas = [["hamburguesa", 10, 8], ["pizza", 9, 9], ["perro_caliente", 8, 5]
print("comidas")
for fila in comidas:
  print(fila)

In [9]:
#entrada
frutas = ["manzana", "pera", "banana"]
#proceso
print (frutas[0])
print (frutas[1])
print (frutas[2])

manzana

In [10]:
frutas[1]= "kiwi"
print (f"frutas modoficadas {frutas}")
frutas[2] = "uva"
frutas [0] = ""

frutas modoficadas ['manzana', 'kiwi', 'banana']

In [11]:
#recorrer la lista
for fruta in frutas:
  print (f"fruta: {fruta}")

fruta: manzana
fruta: kiwi
fruta: banana

In [12]:
#suma lista de numeros
numeros = [[5, 10, 8, 2, 12], []]
suma = sum(numeros)
print (f"la suma de los numeros es {suma}")

la suma de los numeros es 37

una matriz 3 por 3 con numeros aleatorios y encontrar el valor mayor de cada fila

In [15]:
#matriz 3 x 3
matriz = [[3, 7, 2], [9, 1, 4], [6, 5, 8]]
#proceso
for fila in matriz:
  mayor = max(fila)
  menor = min(fila)
  print (f"el valor mayor de la fila es {mayor} y el valor menor es {menor}")

el valor mayor de la fila es 7 y el valor menor es 2
la suma de los mayores es 12
el valor mayor de la fila es 9 y el valor menor es 1
la suma de los mayores es 14
el valor mayor de la fila es 8 y el valor menor es 5
la suma de los mayores es 19

In [16]:
#filtrar edades
edades = [12, 25, 17, 30, 19]
mayores = [edad for edad in edades if edad >= 18]
print (f"las edades mayores son {mayores}")

las edades mayores son [25, 30, 19]

In [17]:
#crear lista de cuadrados del 0 al 9
cuadrados = [x**2 for x in range(10)]
print (f"los cuadrados son {cuadrados}")

los cuadrados son [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#filtrar numeros pares del 0 al 19
pares = [x for x in range(20) if x % 2 == 0]
print (f"los numeros pares son {pares}")
#

In [18]:
#tablero tic-tac-toe
tablero =[["x", "o", "x" ],
          ["o", "x", "o" ],
          ["x", "o", "" ]
          ]
print("tablero")
for fila in tablero:
  print(fila)

tablero
['x', 'o', 'x']
['o', 'x', 'o']
['x', 'o', '']

In [21]:
import random
temperaturas =[[random.randint(15, 35) for _ in range(5) ] for _ in range(5)]
print("temperaturas")
for fila in temperaturas:
  print(fila)
max_tempera = max(max(fila) for fila in temperaturas)
print (f"temperatura mas alta es {max_tempera}")

temperaturas
[21, 26, 29, 24, 32]
[15, 32, 22, 18, 19]
[17, 20, 34, 15, 19]
[22, 25, 28, 32, 19]
[28, 16, 24, 33, 32]
temperatura mas alta es34

In [22]:
#matriz 4x 4
import random
matriz = [[random.randint(1, 100) for _ in range(4)] for _ in range(4)]
mayores_50 = [num for fila in matriz for num in fila if num > 50]
print("matriz")
for fila in matriz:
  print(fila)
print(f"mayores de 50 son {mayores_50}")

matriz
[55, 61, 81, 34]
[1, 45, 79, 16]
[70, 8, 4, 29]
[14, 35, 38, 35]
mayores de 50 son [55, 61, 81, 79, 70]